[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
pymongo = "*"
python-dotenv = "*"
werkzeug = "*"
black = "*"
flask-jwt-extended = "*"
flask-smorest = "*"
shortuuid = "*"

[dev-packages]

[requires]
python_version = "3.10"
